<div class="row d-flex justify-content-center">
  <nav class="navbar navbar-expand-sm navbar-light navbar-expand pt-2">
    <div class="container">
      <a class="fw-bold navbar-brand ps-2 mb-0" href="{{ '/' | url }}">John Doe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pt-2" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item me-1">
            <a class="nav-link" href="{{ '/about' | url }}">About Me</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>