<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>
  <body>

    {% include 'snippets/navbar.njk' %}

    <main class="container py-vh-5">
      <div class="row d-flex">
        <article>
          {% myResponsiveImage "" + cover,
          "ss" %}</div>
        {% include 'snippets/work_header.njk' %}

        <div class="col-12">

          <p class="lead">

            <p class="text-center fs-1 pb-5">{{section1_title}}</p>
            <div class=" py-vh-5 text-center" style="height:23vh; background-image: url('/img/bg_cover.png');background-size: cover;">
              <h4 class="">{{section1_subtitle}}</h4>
              <p class="fs-5">{{ section1_content }}</p>
            </div>
          </p>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 py-5">
              <h4>{{section2_title}}</h4>
              <p class="fs-5">{{ section2_content }}</p>
              <div class="px-5 py-5">
                {% myBlogImage "./src/img/problem.png",
                "ss" %}
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 py-5">
              <h4>{{section3_title}}</h4>
              <p class="fs-5">{{ section3_content }}</p>
              <div class="py-5">
                {% myBlogImage "./src/img/adunit_inconsistency.png",
                "ss" %}
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 py-5">
              <h4>{{section4_title}}</h4>
              <p class="fs-5">{{ section4_content }}</p>
              <div class="py-5">
                {% myBlogImage "./src/img/challenge_testad.png",
                "ss" %}
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 py-5">
              <h4>{{section5_title}}</h4>
              <p class="fs-5">{{ section5_content }}</p>
              <div class="py-5">
                {% myBlogImage "./src/img/challenges_json.png",
                "ss" %}
              </div>
            </div>

            <p class="text-center fs-1 pb-5">{{section6_title}}</p>
            <div class=" py-vh-5 text-center" style="height:23vh; background-image: url('/img/bg_cover.png');background-size: cover;">
              <h4 class="">{{section6_subtitle}}</h4>
              <p class="fs-5">{{ section6_content }}</p>
            </div>

            <div class="row justify-content-center">
              <div class="col-12 col-lg-8 py-5">
                <h4>{{section7_title}}</h4>
                <p class="fs-5">{{ section7_content }}</p>
                <div class="py-5">
                  {% myBlogImage "./src/img/personas.png",
                  "ss" %}
                  {% myBlogImage "./src/img/user_flow.png",
                  "ss" %}
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-12 col-lg-8 py-5">
                <h4>{{section8_title}}</h4>
                <p class="fs-5">{{ section8_content }}</p>
                <div class="py-5">
                  {% myBlogImage "./src/img/solution_template.png",
                  "ss" %}
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-12 col-lg-8 py-5">
                <h4>{{section9_title}}</h4>
                <p class="fs-5">{{ section9_content }}</p>
                <div class="py-5">
                  {% myBlogImage "./src/img/solution_adunit.png",
                  "ss" %}
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-lg-8 py-5">
                <h4>{{section10_title}}</h4>
                <p class="fs-5">{{ section10_content }}</p>
                <div class="py-5">
                  {% myBlogImage "./src/img/solution_testads.png",
                  "ss" %}
                </div>
              </div>
            </div>
            <p class="text-center fs-1 pb-5">{{section11_title}}</p>

            <div class="row justify-content-center">
              <div class="col-12 col-lg-8 py-5">

                <h4>
                  <i class="bi bi-clipboard-data"></i>
                  {{section12_title}}</h4>
                <p class="fs-5">{{ section12_content }}</p>

              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-12 col-lg-8 py-5">
                <h4>
                  <i class="bi bi-clock"></i>
                  {{section13_title}}</h4>

                <p class="fs-5">{{ section13_content }}</p>
                <div class="py-5">
                  {% myBlogImage "./src/img/last_user_diff.png",
                  "ss" %}
                </div>
              </div>
            </div>

            <div class="row text-center justify-content-center col-12 col-lg-8 py-5">
              <div class="col-4">
                <p class="fs-0 fw-light pb-0 mb-0 lh-1">10x</p>
                <p> Integrations per week</p>
              </div>
              <div class="col-4">
                <p class="fs-0 fw-light pb-0 mb-0 lh-1">300</p>
                <p> hours of work saved</p>
              </div>
              <div class="col-4">
                <p class="fs-0 fw-light pb-0 mb-0 lh-1">5x</p>
                <p> Revenue increase in Oct 2020</p>
              </div>
            </div>

          </div>
          {{ content | safe }}
        </div>
      </article>

    </div>

  </div>
</main>

<footer class="container">
  {% include 'snippets/footer.njk' %}
</footer>

</body>

</html>