---
layout: layouts/about.njk
title: A Curious Devesigner

link1: XR Researcher @ ACE Lab, OCAD University
link1_url: 2022-present

link2: Director @ awry.design
link2_url: https://awry.design

link3: Mentor @ ADPList
link3_url: https://adplist.org/mentors/aaditya-vaze

email: aadityavikasvaze[at]gmail[dot]com

meetlink: Let's talk about XR?
meetlink_url: https://calendly.com/thisisvaze/catchup
about_content: Hey! I am Aaditya Vaze and I love to design, develop and create amazing stuff. Fast-forward to today, and I've had an experience of leading product design, researching on AR/VR @ UofT, and co-founding a design consultancy. I do a lot of things for fun but my main focus these days is creating innovative interaction techniques for XR. I'm also pursuing my M.Des. in Digital Futures @ OCAD.
---