---
layout: layouts/index.njk
title: 11ty Protfolio Demo
subtitle: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
linkedin_url: https://github.com/aadityavaze/11ty-portfolio-starter
contact_text: Download from GitHub
pagination:
    data: collections.post
    size: 3
    reverse: true
    alias: posts
---
